<!--

<div *ngIf="pacientesRespuestabusqueda">
    <div class="barra_de_informacion" *ngFor="let resultadoPacientes of pacientesResultadoBusqueda; let i = index">
        <div class="foto_paciente"></div>
        <div class="base_informacion_paciente">
            <p class="nombre_paciente">{{ resultadoPacientes.nombre }}</p>
            <div class="acciones_pacientes">
                <span class="historial" (click)="AgendarCita( resultadoPacientes.id )">Agendar Cita </span>
                <span class="historial" (click)="verInformacion( resultadoPacientes.id )">Historia </span>
                <span class="editar" (click)="editar( resultadoPacientes.id )">Editar </span>
                <span class="eliminar_dato" (click)="borrarPaciente( resultadoPacientes, i )">Eliminar </span>
            </div>
        </div>
    </div>
</div>
-->