<div class="contenedor_navbar">

    <div class="row">
        <div class="col-md-6">
            <img src="https://carlosbustosc.github.io/FRONT-doctor-final/assets/img/logo_eps.png" class="imagen_de_logo" />
        </div>
        <div class="col-md-6">
            <div class="contenedor_nombre_usuario">
                <p><i class="fa-solid fa-circle-user icono_personaje"></i> ¡Hola! {{ nombrePerfil }} <i class="fa-solid fa-caret-down flecha_desplegar"></i></p>
                <div class="seccion_desplegable_perfil">
                    <p class="boton_cerrar_session cerrar_session"><a (click)="cerrarSesion()"> Cerrar Session </a></p>
                </div>
                <!--

                -->
            </div>
        </div>
    </div>
</div>