<div class="contenedor_principal_inicio">
    <div class="contenedor_iconos">
        <p class="selecciones_seccion">Seleccione sección para ingresar</p>
        <div class="seccion1" [routerLink]=" ['/pacientes'] ">
            <img src="https://carlosbustosc.github.io/FRONT-doctor-final/assets/img/usuario.png" class="icono_seccion" />
            <p class="texto_pacientes">PACIENTES</p>
        </div>
        <div class="seccion2" [routerLink]=" ['/citas'] ">
            <img src="https://carlosbustosc.github.io/FRONT-doctor-final/assets/img/agendar.png" class="icono_seccion" />
            <p class="texto_pacientes">TODAS LAS CITAS</p>
        </div>
    </div>
</div>