.contenedor_principal_agendamiento {
    width: 100%;
        min-height: 100vh;
    display: table;
    background-image: url('https://img.freepik.com/fotos-premium/manos-persona-escribiendo-teclado-computadora-portatil-cerca-mientras-trabaja-inteligente-linea_122732-3999.jpg?w=2000');
    background-size: 100%;
    background-attachment: fixed;
}

.card {
    background-color: #ffffff9c;
}

.formulario_citas{
    width: 100%;
    padding: 41px 47px;
    padding-bottom: 4px;
}

.btn-primary.borrar_cita {
    color: #fff;
    background-color: #64c6f0;
    border-color: #64c6f0;
}



.card-title {
    margin-bottom: 0.75rem;
    color: #3c95d8;
}

.estilo_titulo_agda {
    font-weight: 600;
}

.bajar_tabla {
    padding-top: 20px;
    padding: 0px 33px;
    padding-bottom: 40px;
}

.fondo_de_pagina {
      background-color: #ffffffbd;
    text-align: center;
    margin-top: 40px;
}

.card-text {
    text-align: left;
    margin-bottom: 4px;
}

button.btn.btn-primary {
    float: left;
    margin: 8px auto;
}

input.form-control.campo {
    width: 38%;
    float: left;
}

.card-title {
    text-align: left;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: 19px;
}

a.texto_volver {
    padding: 5px 17px 9px 14px;
    background-color: #64c6f0;
    font-size: 19px;
    color: #fff;
    position: relative;
    top: 30px;
    left: 28px;
    border-radius: 5px;
    border: 1px solid #64c6f0;
    cursor: pointer;
}

.imagen_header {
     padding-top: 40px;
    width: 41%;
}

.card-header {
    background-color: inherit;
    text-align: left;
}

button.btn.btn-primary.buscarCita {
    color: #fff;
    background-color: #64c6f0;
    border-color: #64c6f0;
    margin: 0px auto;
}

@media(max-width:650px){

    .bajar_tabla{
        padding-top: 20px;
        padding: 0px 5px;
        padding-bottom: 40px;
    }

    .card-title{
        text-align: left;
        margin-bottom: 6px;
        text-transform: uppercase;
        font-size: 18px;
    }

    input.form-control.campo{
        width: 77%;
        float: left;
    }

    .formulario_citas{
        width: 100%;
        padding: 41px 25px;
        padding-bottom: 4px;
    }

    button.btn.btn-primary.buscarCita {
       
        border-radius: 0px 0px 0px 0px;
    }
}


@media(max-width:385px){

    .card-title {
       
        font-size: 16px;
    }

    .card-text{
        text-align: left;
        margin-bottom: 4px;
        font-size: 15px;
    }

    button.btn.btn-primary{
        float: left;
        margin: 5px auto;
        font-size: 15px;
    }

    a.texto_volver{
        padding: 4px 14px 6px 12px;
        border-radius: 2px;
    }
}

@media(max-width:365px){
    
    .card-title{
        font-size: 15px;
    }

    .card-text {
        text-align: left;
        margin-bottom: 4px;
        font-size: 14px;
    }

    button.btn.btn-primary{
        float: left;
        margin: 5px auto;
        font-size: 13px;
    }

}