<div class="contenedor_principal_agendamiento">
    <a _ngcontent-qvk-c51="" class="texto_volver" [routerLink]=" ['/inicio'] "><i _ngcontent-qvk-c51="" class="fa-solid fa-reply"  ></i></a>
    <div class="container fondo_de_pagina">
        <img src="https://portal.colsanitas.com/funcionarios/documents/43206/144613/eps.png/80ae6800-cb08-4a97-ba58-883dea96a5e4?t=1412375935503" class="imagen_header" />

        <div class="row">
            <form class="formulario_citas">
                <input type="text" class="form-control campo" #f (keyup)="refrescarCita( f.value )" placeholder="Buscar por numero de documento"/>
                <button  class="btn btn-primary buscarCita" (click)="filtrarCita( f.value )">Buscar</button>
            </form> 
        </div>
        <div class="row bajar_tabla">

            <div class="col-md-6 mt-4" *ngIf="cita">
                <div class="card">
                    <div class="card-header">
                        Agendamiento de cita
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ guardarUnaCita.nombre }}</h5>
                        <p class="card-text"><span class="estilo_titulo_agda">Documento:</span> {{ guardarUnaCita.documento }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Horario:</span> {{ guardarUnaCita.horario }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Doctor:</span> {{ guardarUnaCita.doctor }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Hora:</span> {{ guardarUnaCita.hora }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Sede:</span> {{ guardarUnaCita.sede}}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Doctor:</span> {{ guardarUnaCita.doctor }}</p>
                        <button class="btn btn-primary borrar_cita" (click)="borrarCita( guardarUnaCita._id )">Borrar cita</button>
                    </div>
                </div>
            </div>

            
            <div class="col-md-6 mt-4"  *ngFor="let todasLasCitas of citasPacientes">
                <div class="card" *ngIf="Citas">
                    <div class="card-header">
                        Agendamiento de cita
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ todasLasCitas.nombre }}</h5>
                        <p class="card-text"><span class="estilo_titulo_agda">Documento:</span> {{ todasLasCitas.documento }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Horario:</span> {{ todasLasCitas.horario }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Doctor:</span> {{ todasLasCitas.doctor }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Hora:</span> {{ todasLasCitas.hora }}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Sede:</span> {{ todasLasCitas.sede}}</p>
                        <p class="card-text"><span class="estilo_titulo_agda">Doctor:</span> {{ todasLasCitas.doctor }}</p>
                        <button class="btn btn-primary borrar_cita" (click)="borrarCita( todasLasCitas._id )">Borrar cita</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>